/*===========================================================
blog CSS
=============================================================*/
.job-blog{
  background: linear-gradient(180deg, rgba(12, 182, 219, 0.02) 0%, rgba(113, 134, 133, 0) 100%);
}

.blog .blog-slider {
  padding: 20px 10px 36px 10px;
}

.blog .single-blog {
  display: block;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: all 0.4s linear;
  z-index: 10;
  position: relative;
}

.blog .single-blog::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(240, 254, 255, 0.3) 0%, rgba(234, 254, 255, 0.29) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s linear;
}

.blog .single-blog:hover {
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
}

.blog .single-blog:hover::after {
  opacity: 1;
}

.blog .single-blog .image {
  height: 232px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
}

.blog .single-blog .author img,
.blog .single-blog .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog .single-blog span {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  color: rgba(13, 13, 14, 0.4);
}

.blog .single-blog h3 {
  color: var(--primary-text2);
  font-size: 18px;
  line-height: 27px;
  font-weight: 800;
  padding: 16px 0;
}

.blog .single-blog p {
  font-size: 14px;
  color: rgba(13, 13, 14, 0.8);
  padding-bottom: 12px;
}

.blog .single-blog .blog-author {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
}

.blog .single-blog .author {
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.blog .single-blog .author img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog .single-blog h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text);
}

.blog .single-blog ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.blog .single-blog ul li {
  position: relative;
}

.blog .single-blog ul li small {
  display: inline-block;
  font-size: 12px;
  color: rgba(13, 13, 14, 0.4);
}

.blog .single-blog ul li:not(:first-child)::before {
  content: '.';
  font-size: 28px;
  line-height: 18px;
  color: black;
  position: absolute;
  top: -4px;
  left: -12px;
}

.blog-pagination.swiper-pagination {
  bottom: 0;
}

.blog-pagination .swiper-pagination-bullet {
  margin: 0 8px;
  height: 12px;
  width: 12px;
  background: var(--primary);
  opacity: 0.3;
  transition: all 0.3s linear;
}

.blog-pagination .swiper-pagination-bullet-active {
  width: 34px;
  background-color: #005999;
  opacity: 1;
  border-radius: 90px;
}

@media screen and (max-width: 767px) {
  .blog .single-blog {
    padding: 16px 12px;
  }

  .blog .single-blog span {
    font-size: 12px;
  }

  .blog .single-blog h3 {
    font-size: 16px;
  }

  .blog .single-blog h4 {
    font-size: 12px;
  }
  
}

@media screen and (max-width: 575px) {
  .blog .blog-slider {
    padding: 0 0 36px 0;
  }
}