/*===========================================================
General CSS
=============================================================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap');

:root {
  --primary: #0075C8;
  --secondary: #FF8B13;
  --primary-text: #0D0D0E;
  --primary-text2: #001E33;
  --text: #003C66;
  --blue: #005999;
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
  --playfair: 'Playfair Display', serif;
}

body {
  width: 100%;
  max-width: 100%;
  font-family: var(--lato);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

a,
p,
i,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

select,
input {
  border: 0;
  outline: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.scroll-lock {
  overflow: hidden;
}

.row-gutter {
  --bs-gutter-y: 24px;
}

.container {
  padding: 0 16px;
}

/*=========================== banner heading ===========================*/
.main-heading{
  font-size: 56px;
  font-weight: 800;
  color: var(--primary-text2);
  position: relative;
  z-index: 10;
}

.main-heading .color{
  color: var(--secondary);
}

.main-heading .border-text{
  position: relative;
  z-index: 1;
}

.main-heading .border-text::after {
  content: '';
  width: 100%;
  height: 13px;
  background-color: #33AAFF;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: -1;
}

.explore-heading {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  color: rgba(13, 13, 14, 0.4);
}

/*=========================== scrollbar hide ===========================*/
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  width: 0;
  scrollbar-width: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

/*=========================== animation button ===========================*/
.animate-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  z-index: 10;
  box-sizing: border-box;
}

.animate-btn::before {
  content: '';
  height: calc(100% + 300px);
  width: calc(100% + 100px);
  position: absolute;
  top: -50%;
  right: calc(100% - 50px);
  z-index: -1;
  transform: rotate(-40deg);
  transition: all 0.5s ease-in-out;
  /* transition: all 0.5s cubic-bezier(0.9,1.8,1,.4); */
  /* transition: all 0.6s cubic-bezier(.94,-0.39,.09,1.44); */
  /* transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

.animate-btn-fill {
  background-color: var(--primary);
  color: white;
}

.animate-btn-fill:hover,
.animate-btn-outline:hover {
  color: white;
}

.animate-btn-fill::before {
  background-color: white;
}

.animate-btn-outline {
  border: 1px solid var(--primary);
  color: var(--blue);
}

.animate-btn-outline::before {
  background-color: var(--primary);
}

.animate-btn:hover::before {
  top: calc(-50% - 100px);
  right: calc(0% - 50px);
  opacity: 0.1;
}

.animate-btn-outline:hover::before {
  opacity: 1;
}

/*=========================== title ===========================*/
.title {
  padding-bottom: 56px;
  text-align: center;
}

.title span {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary);
}

.title h2 {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 40px;
  color: var(--primary-text);
}

.title p {
  padding-top: 4px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(13, 13, 14, 0.4);
}

.section-gap {
  padding: 72px 0;
}

/*=========================== load more button ===========================*/
.load-more-main {
  margin-top: 24px;
}

.load-more-main button {
  padding: 16px 26px;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary);
  border-color: rgba(54, 54, 54, 0.12);
}

.load-more-main button:hover {
  color: var(--primary);
}

.load-more-main button:hover::before {
  opacity: 0.2;
}

/*=========================== custom scrollbar ===========================*/
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F2F2F2;
}

.custom-scrollbar::-moz-scrollbar-track {
  background-color: #F2F2F2;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #003C66;
}

.custom-scrollbar {
  scrollbar-color: #003C66 #F2F2F2;
  scrollbar-width: thin;
}

/*=========================== reset container width ===========================*/
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

/*=========================== responsive ===========================*/
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-heading {
    font-size: 36px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .section-gap{
    padding: 40px 0;
  }

  .title {
    padding-bottom: 32px;
  }

  .title h2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }

  .title p {
    font-size: 14px;
  }

  .load-more-main button {
    padding: 12px 26px;
  }

  .main-heading {
    font-size: 30px;
  }

  .main-heading .border-text::after {
    height: 8px;
    bottom: -4px;
  }

  .explore-heading {
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
  .animate-btn-outline:hover {
    color: var(--primary);
  }

  .animate-btn:hover::before {
    top: -50%;
    right: calc(100% - 50px);
    opacity: 1;
  }

  .section-gap {
    padding: 40px 0;
  }

  .title {
    padding-bottom: 32px;
  }

  .title h2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }

  .title p {
    font-size: 14px;
  }

  .load-more-main button {
    padding: 8px 32px;
    font-size: 14px;
  }

  .main-heading {
    font-size: 20px;
  }

  .main-heading .border-text::after {
    height: 6px;
    bottom: -3px;
  }

  .explore-heading {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 4px;
  }

}

/*=========================== banner bg animation ===========================*/
@keyframes road {
  25% {
    fill: #f5f5f5;
  }

  50% {
    fill: #455A64;
  }
}

@keyframes red {
  0% {
    fill: #FF003D;
  }

  2%,
  40% {
    fill: #F4F4F4;
  }

  42%,
  100% {
    fill: #FF003D;
  }
}

@keyframes white {

  0%,
  20% {
    fill: #E0E0E0;
  }

  22%,
  40% {
    fill: #001AFF;
  }

  42%,
  80% {
    fill: #E0E0E0;
  }

  82%,
  100% {
    fill: #001AFF;
  }
}

@keyframes grey {

  0%,
  40% {
    fill: #FF8B13;
  }

  42%,
  80% {
    fill: #455A64;
  }

  82%,
  100% {
    fill: #FF8B13;
  }
}

/*=========================== menu item animation ===========================*/
@keyframes slide {
  0% {
    top: 100%;
    opacity: 1;
  }

  20% {
    top: 0;
  }

  40% {
    top: 0;
    opacity: 0.5;
  }

  60% {
    top: 100%;
    opacity: 1;
  }
}

/*=========================== banner heading border animation ===========================*/
@keyframes enlarge {
  0% {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) scaleX(1.2);
    opacity: 0.8;
  }

  100% {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }
}

/*=========================== menu fixed animation ===========================*/
@keyframes mymove {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}




/* animation for banner */
.red-light {
  animation: red 2s linear infinite;
}

.white-light {
  animation: white 2s linear infinite;
}

.grey-light {
  animation: grey 2s linear infinite;
}

.road1 {
  animation: road 6s infinite;
}

.road2 {
  animation: road 6s infinite 0.5s;
}

.road3 {
  animation: road 6s infinite 1s;
}

.road4 {
  animation: road 6s infinite 1.5s;
}

.road5 {
  animation: road 6s infinite 2s;
}

/*=========================== checkbox input ===========================*/
.input-check-box .check-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.input-check-box .check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-check-box .checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 18px;
  width: 18px;
  border: 2px solid var(--primary);
}

.input-check-box .check-container input:checked~.checkmark {
  background-color: var(--primary);
  border-color: var(--primary);
}

.input-check-box .check-container input:checked~.checkmark:after {
  display: block;
}

.input-check-box .check-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: -1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*===========================================================
header CSS
=============================================================*/
.navbar-toggler {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menubar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(10.5px);
}

.menubar.navFixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  animation: mymove 0.4s linear;
  box-shadow: 0px 12px 9px -4px rgba(255, 255, 255, 0.04), 0px 4px 4px -2px rgba(0, 0, 0, 0.03);
}

.menubar .navbar {
  padding: 16px 0;
}

.menubar .navbar-brand {
  padding: 0;
  margin: 0;
  margin-right: 32px;
}

.menubar .nav-item {
  margin: 0 8px !important;
}

.menubar .nav-link {
  padding: 10px 13px !important;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(13, 13, 14, 0.60);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.menubar .nav-link:hover::after,
.menubar .nav-link.active::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 117, 200, 0.08);
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.3s ease-in-out;
  animation: slide 7s ease-in-out infinite;
}

.menubar .nav-link:hover,
.menubar .nav-link.active {
  color: var(--primary-text);
  background-color: rgba(0, 117, 200, 0.08);
}

.menubar .right-nav {
  gap: 12px;
}

.menubar .right-nav .register-btn {
  border-color: transparent;
  padding: 8px 26px;
  font-weight: 600;
  color: var(--primary-text);
}

.menubar .right-nav .register-btn:hover {
  border-color: rgba(54, 54, 54, 0.12);
  box-shadow: 0px 20px 24px -4px rgba(35, 160, 156, 0.04);
  background-color: rgba(35, 160, 156, 0.12);
}

.menubar .right-nav .register-btn:hover::before {
  opacity: 0.2;
}

.menubar .right-nav .login-btn {
  padding: 8px 26px;
  font-weight: 600;
  box-shadow: 0px 20px 24px -4px rgba(0, 200, 183, 0.08), 0px 8px 8px -4px rgba(0, 200, 183, 0.03);
}

@media screen and (max-width: 991px) {
  .menubar .navbar {
    padding: 8px 0;
  }

  .menubar .right-nav .register-btn {
    border-color: rgba(54, 54, 54, 0.12);
    box-shadow: 0px 20px 24px -4px rgba(35, 160, 156, 0.04);
    background-color: rgba(35, 160, 156, 0.12);
  }

  .menubar .nav-item {
    margin: 4px 0 !important;
  }

  .menubar .nav-link{
    width: fit-content;
  }

  .menubar .nav-link:hover::after {
    opacity: 0;
    animation: none;
  }

  .menubar .nav-link:hover {
    color: initial;
    background-color: transparent;
  }
}


/*===========================================================
footer CSS
=============================================================*/
footer {
  padding-top: 80px;
  padding-bottom: 26px;
  background: #FDFEFF;
}

.footer-logo {
  display: block;
}

.footer-top {
  padding-bottom: 188px;
}

.footer-top .about-company {
  font-weight: 500;
  font-size: 14px;
  color: rgba(13, 13, 14, 0.6);
  padding-top: 32px;
}

.footer-top .social {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 72px;
}

.footer-top .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 2px 32px -12px rgba(189, 189, 189, 0.5);
}

.footer-top .social a img {
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.footer-top .social a:hover{
  background-color: var(--primary);
}

.footer-top .social a:hover img {
  transform: scale(1.2);
  filter: brightness(0) saturate(100%) invert(99%) sepia(14%) saturate(0%) hue-rotate(14deg) brightness(109%) contrast(101%);
}

.footer-top .footer-title h4 {
  padding-bottom: 40px;
  font-size: 20px;
  color: var(--primary-text2);
  font-weight: 700;
}

.footer-top .footer-links li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-top .footer-links a {
  display: inline-block;
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  color: rgba(13, 13, 14, 0.8);
}

.footer-top .footer-links a:hover {
  color: var(--primary);
}

.footer-bottom .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer-bottom .copyright p {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary-text2);
  flex-shrink: 0;
}


@media (min-width: 768px) and (max-width: 1199px) {
  footer {
    padding-top: 40px;
  }

  .footer-top {
    padding-bottom: 56px;
  }

  .footer-top .about-company {
    padding-top: 24px;
  }

  .footer-top .social {
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding-top: 40px;
  }

  .footer-top {
    padding-bottom: 56px;
  }

  .footer-top .about-company {
    padding-top: 24px;
  }

  .footer-top .social {
    margin-top: 32px;
  }

  .footer-about {
    margin-bottom: 64px;
  }

  .footer-top .footer-title h4 {
    padding-bottom: 32px;
    font-size: 16px;
  }

  .footer-top .footer-links li:not(:last-child) {
    margin-bottom: 12px;
  }

}

@media screen and (max-width: 575px) {
  .footer-bottom .copyright img {
    width: 50px;
  }
}