/*===========================================================
filter CSS
=============================================================*/
.filter-job {
  background: rgba(255, 255, 255, 0.04);
  /* background-color: white; */
  border-radius: 8px;
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03);
  margin-top: 87px;
  margin-bottom: 69px;
  padding: 0 12px;
}

.filter-job .single-category {
  padding: 12px;
}

.filter-job .single-category .category-heading {
  gap: 8px;
  margin-bottom: 6px;
}

.filter-job .single-category .category-heading>div {
  gap: 12px;
}

.filter-job small {
  font-weight: 500;
  font-size: 12px;
  color: rgba(13, 13, 14, 0.4);
}

.filter-job i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.filter-job .icon {
  display: flex;
  padding: 4px;
}

.filter-job .keywords input {
  width: 100%;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text);
  background-color: transparent;
}

.filter-job .keywords input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: rgba(13, 13, 14, 0.4);
}

.filter-job .search-btn-main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-job .search-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 18px 28px;
}

.filter-job .search-btn i {
  font-size: 20px;
  color: white;
}

@media (min-width: 1200px) and (max-width: 1399px) {

  .filter-job {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .filter-job {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .filter-job .search-btn-main {
    justify-content: start;
  }

  .filter-job .search-btn {
    padding: 10px 26px;
  }

  .filter-job {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {

  .filter-job {
    /* background: rgba(255, 255, 255, 0.06); */
    box-shadow: -2px 2px 16px -4px rgba(0, 0, 0, 0.08), 2px 1px 6px -2px rgba(0, 0, 0, 0.03);
    margin-top: 24px;
    margin-bottom: 10px;
    padding: 12px;
  }

  .filter-job .single-category .category-heading {
    justify-content: space-between;
  }

  .filter-job .single-category.keywords .category-heading {
    justify-content: start;
  }

  .filter-job .single-category {
    padding: 0;
  }

  .filter-job .search-btn-main {
    justify-content: center;
    padding-top: 27px;
  }

  .filter-job .search-btn {
    padding: 9px 26px;
  }

  .filter-job .search-btn::before {
    display: none;
  }
}

/*===========================================================
select CSS
=============================================================*/
.select2-container--open .select2-dropdown {
  left: -24px;
}

.select2-search--dropdown {
  padding: 0 12px;
  margin: 12px 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
}

.select2-search--dropdown .select2-search__field {
  padding: 0 30px 0 12px;
  background-color: #f5f5f5;
  border-radius: 39px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  color: var(--primary-text);
}

.select2-search--dropdown .select2-search__field::placeholder {
  color: rgba(13, 13, 14, 0.4);
  font-size: 14px;
}

.select2-search {
  position: relative;
}

.select2-search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  color: #393D4F;
}

.select2-search_heading {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text2);
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--primary-text);
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-dropdown {
  width: 260px !important;
  border: none;
  border-radius: 8px;
  background: #FDFDFD;
  box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
}

.select2-container--default .select2-results {
  padding: 16px 0 16px 12px;
}

.select2-container--default .select2-results>.select2-results__options {
  padding-right: 16px;
  max-height: 260px;
}

.select2-container--open .select2-dropdown--below {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 20px;
}

.select2-container--open .select2-dropdown--above {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.select2-results__option {
  padding: 8px 0;
  font-size: 12px;
  font-weight: 500;
  color: rgba(13, 13, 14, 0.6);
}

.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #E5F4FF;
  color: rgba(13, 13, 14, 0.6);
  padding-left: 8px;
  transition: all 0.3s linear;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
  width: 5px;
}

.select2-container--default .select2-results>.select2-results__options {
  scrollbar-color: #224e53 #a5aaad;
  scrollbar-width: thin;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
  background-color: #F2F2F2;
}

.select2-container--default .select2-results>.select2-results__options::-moz-scrollbar-track {
  background-color: #F2F2F2;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
  background: var(--primary-text);
}

.select2-container--default .select2-results>.select2-results__options::-moz-scrollbar-thumb {
  background: var(--primary-text);
}

@media screen and (max-width: 991px) {
  .select2-container {
    margin-left: 28px;
  }

  .filter-job .single-category .category-heading>div {
    gap: 8px;
  }

  .filter-job .keywords input {
    margin-left: 28px;
  }

  .select2-container--open .select2-dropdown {
    left: -40px;
  }
}